body {
    font-family: Arial, sans-serif;
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#info-card h1{
    background-color: white;
    width: 100%;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.container {
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 400px;
    width: 100%;
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

#info-card {
    text-align: center;
}

.field {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.label {
    font-weight: bold;
    color: #555;
    flex: 1;
}

#user-info span {
    flex: 2;
    color: #444;
    text-align: left;
    padding-left: 10px;
}

